<template name='header'>
    <header class='navbar'>
        <div class='navbar-inner'>
            <a class='brand' href="{{postsListPath}}">Microscope</a>
            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>
            {{#if currentUser}}
                <ul class="nav">
                    <li><a href="{{postSubmitPath}}">New</a></li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>
                </ul>
            {{/if}}
        </div>
        <b>server id: {{serverId}}</b>
    </header>
</template>